<modal>
    <title>Title</title>
    <input id="field1" label="Nome" class="SHORT" maxlength="100" minlength="10" placeholder="Your name" required="true"/>
    <input id="field2" label="Descrição" class="PARAGRAPH" maxlength="200" minlength="20" placeholder="Give a brief description"/>
</modal>