<embed color="0xFF0000">
<author>Eu</author>
<title>BRAGA</title>
<table>
    <tr>
        <td name="1">Line 11</td>
        <td name="2">Line 12</td>
        <td name="3">Line 13</td>
    </tr>
    <tr>
        <td name="4">Line 21</td>
        <td name="5">Line 22</td>
    </tr>
    <tr>
        <td name="6">Line 31</td>
        <td name="7">Line 32</td>
        <td name="8">{{counter}}</td>
    </tr>
</table>
<description>Olá</description>
<footer>Hello</footer>
</embed>
<button id="1" class="primary">Primary</button>
<main>
    Hello There
</main>
<file src="test.txt"/>