<main>
    # Lista de Comandos

    - `/bot`: Mensagem introdutória
    - `/delete`: Apagar dados do utilizador
    - `/help`: Comandos disponíveis
    - `/inst`: Instruções para prognósticos
    - `/stats`: Estatísticas do utilizador
    - `/season`: Estatísticas de uma temporada
    - `/top`: Tabela classificativa
    - `/bet`: Previsão para a temporada
    - `/add`: Adicionar um jogo
    - `/end`: Mensagem de fim de temporada
    - `/info`: Estado do bot
    - `/new`: Criar nova temporada
    - `/remove`: Remover um jogo
    - `/win`: Adicionar um resultado

    Argumentos:
    1. **temporada**: Especificar temporada.
    2. **modalidade**: Especificar modalidade.
    3. **hora**: Hora marcada para o jogo
    4. **minuto**: Minutos do jogo
    5. **dia**: Dia do jogo
    6. **mes**: Mês do jogo
    7. **adversário**: Adversário
    8. **goloscasa**: Golos marcados pela equipa da casa
    9. **golosfora**: Golos marcados pela equipa visitante
    9. **index**: Indíce do jogo do adversário
</main>