<main>
    Hello, **{{name}}**!

    Here are your favorite items:
    {{#each items ~}}
        - {{this}}
    {{/each ~}}

    Thank you!
</main>
<button id="1" class="primary">Primary</button>
<button id="2" class="secondary">Secondary</button>
<button id="3" class="danger">Danger</button>